In [1]:
from io import StringIO, BytesIO
from pathlib import Path
import pandas as pd

In [2]:
path = Path("/Users/danielle/Documents/thesis/16S")
df1 = pd.read_csv(path / "16S_filenames.csv")
df2 = pd.read_csv(path / "16S_fastq_filenames.csv")

In [3]:
df1.head()

,SampleID,Mother_Child,SubjectID,MaternalID,MC_Dyads,TimePoint,Fecal_EtOH,CollectionRep,DOC,RAInitials_DOC,...,16S_processed,Notes,Discrepancies,Batch 1 Mapping,16S_batch,16S_plate,Mgx_batch Mapping,16S_batch Mapping,Date_Brought_In,RAInitials_Brought
0,C0052_5F_1A,C,52,0052_m,NaN,5,F,1,7/25/17,NaN,...,Sequenced,DOC recorded as DOF,Written as 52E but needs to be changed to 52F,052E.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001,NaN,NaN
1,C0126_8F_1A,C,126,0126_m,NaN,8,F,1,7/25/17,NaN,...,Sequenced,Missing DOF,NaN,126H.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001,NaN,NaN
2,C0126_8F_1B,C,126,0126_m,NaN,8,F,1,7/25/17,NaN,...,Sequenced,"Missing DOF, need to change DOE",NaN,126H-B.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001,NaN,NaN
3,C0127_6F_1B,C,127,0127_m,NaN,6,F,1,7/25/17,NaN,...,Sequenced,Missing DOF,NaN,127F.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001,NaN,NaN
4,C0286_5F_1A,C,286,0286_m,NaN,5,F,1,7/25/17,NaN,...,Sequenced,"Recorded initially as 2866, DOC recorded as DOF",NaN,286E.7-25-17.F,Batch 1,Plate 4,Mgx_batch001,16S_batch001,NaN,NaN

In [4]:
df2.head()

                           filename
0  20A_2H_S299_L001_R1_001.fastq.gz
1  20A_2H_S299_L001_R2_001.fastq.gz
2  20A_3H_S323_L001_R1_001.fastq.gz
3  20A_3H_S323_L001_R2_001.fastq.gz
4  20B_2H_S311_L001_R1_001.fastq.gz

In [5]:
df2.shape

(558, 1)

In [6]:
allfiles = list(df2['filename'])

In [7]:
wantfiles = list(df1['SampleID'])

In [8]:
new_files = list(filter(lambda x: x in wantfiles, allfiles))

In [31]:
new_files = []

for j in (wantfiles):
    #print(j)
    for i in allfiles:
        if j in i:
            new_files.append(i)

In [35]:
len(new_files)

526

In [36]:
len(allfiles)

558

In [37]:
with open('keep_fastq.txt', 'w') as f:
    for item in new_files:
        f.write("%s\n" % item)