In [19]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import csv
import janitor
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
otu = pd.read_csv("~/Documents/thesis/analysis/taxa_difference.csv")

In [26]:
otu.head()

,Unnamed: 0,taxa,amp_avg_abund,mgx_avg_abund,abs_diff,total_diff
0,116,Finegoldia,0.000009,9.570117e-06,1.143988e-07,-1.143988e-07
1,95,Dysgonomonas,0.000001,1.620690e-06,3.471133e-07,-3.471133e-07
2,7,Actinobacillus,0.000005,6.006897e-06,1.477558e-06,-1.477558e-06
3,46,Brevundimonas,0.000004,6.570882e-07,3.202449e-06,3.202449e-06
4,234,Proteus,0.000007,1.094176e-05,4.021744e-06,-4.021744e-06

In [27]:
otu = otu[otu.columns[1:3]]

In [30]:
otu = otu.fillna(0)

In [35]:
otu_trans = otu.set_index("taxa").transpose()

In [36]:
otu_trans.head()

taxa,Finegoldia,Dysgonomonas,Actinobacillus,Brevundimonas,Proteus,Pantoea,Morganella,Weissella,Peptostreptococcus,Atopobium,...,Tyzzerella,Ulvibacter,Ureaplasma,Varibaculum,Vibrio,Victivallis,Virgulinella fragilis,Winogradskyella,Woeseia,endosymbionts
amp_avg_abund,0.000009,0.000001,0.000005,0.000004,0.000007,0.000005,0.000007,0.000007,0.000016,0.000005,...,0.000232,0.000032,0.0,0.0,0.000006,0.000015,0.00003,0.000017,0.000023,0.000005

In [39]:
otu_trans.to_csv('otu.csv')